@model Order

<h2>Order Details</h2>

<div>
    <h4>Order Number: @Model.OrderNumber</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Order Date
        </dt>
        <dd class="col-sm-10">
            @Model.OrderDate
        </dd>

        <dt class="col-sm-2">
            Customer Name
        </dt>
        <dd class="col-sm-10">
            @Model.Customer.FirstName
        </dd>

        <dt class="col-sm-2">
            Payment Method
        </dt>
      

        <dt class="col-sm-2">
            Products
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Name</th>
              
                        <th>Price</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Product_Order)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                     
                            <td>@item.Product.Price</td>
                            <td>@(item.Product.Price * item.Product.Price)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>

        <dt class="col-sm-2">
            Total
        </dt>
        <dd class="col-sm-10">
            @Model.Total
        </dd>
    </dl>
</div>